
.container {
    text-align: center;
}

/* encabezado */
.header {
    background-color: #333; /* color */
    color: #fff; /* color*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}
/*productos*/
.navbar-button {
    color: #fff; /* botón de navegación */
}
/*lista productos*/
.menu-item {
    background-color: #fff; 
    color: #333; /* color del texto */
    transition: background-color 0.5s, color 0.5s; 
}

.menu-item:hover {
    background-color: #333; /* fondo en hover */
    color: #fff; /*  texto en hover */
}



.cartwidget {
    font-size: 18px;
    color: #fff; /* carrito */
}

/* cuerpo */
.listcontainer {
    padding: 20px;
    text-align: center;
}

/* mensaje de bienvenida */
.welcome-message {
    font-size: 24px;
    margin-top: 20px;
}


